---
title: Welcome to Middleman
---


<div class="navigation">
	
</div>
<div class="alert">
	<p>This is an alert.</p>
	<button>Submit for Review</button>
</div>

<div class="dashboard">
	<div class="content_area">
		<ul class="content_tabs">
			<li><a class="activate_t nav_selected">Timeline</a></li>
			<li><a class="activate_g">Grading</a></li>
			<li><a>Students</a></li>
			<button>Edit</button>
		</ul>
		<div class="timeline">
			<div class="week">
				<h2>Week 1</h2>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
			</div>
			<div class="week">
				<h2>Week 2</h2>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
			</div>
			<div class="week">
				<h2>Week 3</h2>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
			</div>
			<div class="week">
				<h2>Week 4</h2>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
				<div class="block in-class">
					<h3>In-class</h3>
					<p><%= lorem.sentences 2 %></p>
				</div>
			</div>
		</div>
		<!-- Grading Start -->
		<div class="grading_content inactive">
			<h2>Assignment <span>% of Grade</span></h2>
			<ul>
				<ul class="grades">
					<li>Assignment 1</li>
					<li>5%</li>
				</ul>
				<ul class="grades">
					<li>Assignment 2</li>
					<li>25%</li>
				</ul>
				<ul class="grades">
					<li>Assignment 3</li>
					<li>25%</li>
				</ul>
				<ul class="grades">
					<li>Assignment 4</li>
					<li>25%</li>
				</ul>
				<ul class="grades">
					<li>Assignment 5</li>
					<li>20%</li>
				</ul>
				<ul class=" grades_total">
					<li>Total: 100%</li>
				</ul>
			</ul>
		</div><!-- END GRADING -->

	</div><!-- Content_area -->

<div class="info_column">
	<div class="course_details">
		<h3>Course Details</h3>
		<ul>
			<ul class="course_item">
				<li>Course Name</li>
				<li>Wiki 101</li>
			</ul>
			<ul class="course_item">
				<li>Course Description</li>
				<li>Learn about wiki</li>
			</ul>
			<ul class="course_item">
				<li>University</li>
				<li>University of Washington</li>
			</ul>
			<ul class="course_item">
				<li>Instructor's Name</li>
				<li>Riley Hollobaugh</li>
			</ul>
			<ul class="course_item">
				<li>Subject</li>
				<li>Education</li>
			</ul>
			<ul class="course_item">
				<li>Course Dates</li>
				<li>July 1 - June 22</li>
			</ul>
			<ul class="course_item">
				<li>Class Meets On</li>
				<li>Tue, Thur</li>
			</ul>
		</ul>
	</div><!-- Course Details END -->

<!-- Timeline overview start -->
	<div class="timeline_overview">
		<h3>Timeline Overview</h3>
		<ul>
			<ul class="course_item">
				<li>Number of Weeks</li>
				<li>4</li>
			</ul>
			<ul class="course_item">
				<li>Number of Assignments</li>
				<li>8</li>
			</ul>
			<ul class="course_item">
				<li>Article Assignment</li>
				<li>Professor provides list</li>
			</ul>
			<ul class="course_item">
				<li>Medicine or Psychology Topics</li>
				<li>No</li>
			</ul>
		</ul>
	</div><!-- Course Details END -->
</div><!-- End Info Columns -->
</div><!-- Dashboard END -->
